body {
  font-family: "Poppins", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  padding: 15px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.aboutContainer {
  background-image: url("./assets/teamWorkImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ContactContainer {
  background-image: url("./assets/HandHearthImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
  .servicesContainer {
    padding-inline: 50px;
  }
}

@media screen and (max-width: 350px) {
  .SwiperContainer {
    height: 250px;
  }

  .contactDetail {
    padding-inline: 10px;
  }

  .text-services {
    font-size: 0.8rem;
  }

  .servicesContainer {
    padding-inline: 15px;
  }

  .card-content {
    left: -15px;
  }

  .title-section {
    font-size: 1rem;
  }
}
